<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Linx Eventful</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <!-- Navigation bar -->
    {% include 'navbar.html' %}

    <!-- Page content -->
    <div class="container mt-5">
        <h1>Welcome to Eventful</h1>
        <p>Discover unforgettable events and experiences!</p>
        <!-- Add dynamic content here -->
        {% if msg %}
        <p>
            {{ msg }}
        </p>
        {% endif %}
    </div>

    <div class="account_create">
        <a href="/user/create_account">
            Create Account
        </a>
    </div>

    <div>
        <a href="/user/my_page">Checkout My Page!</a>
    </div>

</body>
</html>


